@import "variables";

body, html{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

header{
  font-size: 1rem;
  font-weight: 100;
  position: fixed;
  width: 100%;
  height:75px;
  top:0;
  background-color: white;
  padding: .5rem 0;
  border-bottom: 1px solid black;
  .container{
    width:80%;
    margin: auto;
  }
  ul{
    padding:0;
  }
  li{
    margin: 10px;
    list-style-type: none;
    display: inline-block;
    a{
      color:black;
    }
  }
}

.right{
  vertical-align: top;
  float: right;
}
.left{
  font-size: 4rem;
  vertical-align: top;
  float:left;
  @media(max-width: $medWidth){
    font-size: 2rem;
    padding-top: 1rem;
  }
  .tiny{
    font-size:.9rem;
    @media(max-width: $headerMax){
      display: none;
    }
  }
}

.fa{
  font-size: 25px;
  margin: 5px;
  line-height: 0;
}

section{
  text-align: center;
  margin: 100px auto;
  @media(min-width: $medWidth){
    width: 3*$medBox;
  }
  @media(min-width: $lrgWidth){
    width: 3*$lrgBox;
  }
  width: 100%;
  ul{
    padding: 0;
    margin: 0;
  }
  li{
    padding: 0;
    list-style-type: none;
    display: inline-block;
    img{
      width: 100%;
      height:100%;
      overflow: hidden;
    }
  }
}

.smlWidth{
  @media(min-width: $headerMax){
    display: none;
  }
}
.lrgWidth{
  @media(max-width: $headerMax){
    display:none;
  }
}
section li {
  background-color:gray;
  outline: 1px dashed white;
  outline-offset: -10px;
  vertical-align: top;
  @media(min-width: $medWidth){
    width: $medBox;
    height: $medBox;
  }
  @media(min-width: $lrgWidth){
    width: $lrgBox;
    height: $lrgBox;
  }
  width: 100%;
  a{
    text-decoration: none;
    font-size: 2em;
    font-weight: 100;
    color: white;
    line-height: 100px;
    @media(min-width: $medWidth){
      line-height: $medBox;
    }
    @media(min-width: $lrgWidth){
      line-height: $lrgBox;
    }
  }
}
.accent{
  background-color: $darkgray;
  @media(max-width: $medWidth){
    display: none;
   }
}
