@import "variables";

body, html{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color:$darkgray;
}
a{
  text-decoration: none;
}
header{
  color: $darkgray;
  z-index:100;
  font-size: 1rem;
  font-weight: 100;
  position: fixed;
  width: 100%;
  height:75px;
  top:0;
  background-color: white;
  padding: .5rem 0;
  border-bottom: 1px solid black;
  .container{
    width:80%;
    margin: auto;
  }
  ul{
    padding:0;
  }
  li{
    margin: 10px;
    list-style-type: none;
    display: inline-block;
    a{
      color:$darkgray;
    }
  }
}

.right{
  vertical-align: top;
  float: right;
}
.left{
  a{
    color:black;
  }
  font-size: 4rem;
  vertical-align: top;
  float:left;
  @media screen and(max-width: $medWidth){
    font-size: 2rem;
    padding-top: 1rem;
  }
  @media screen and(max-width: $smlWidth){
    font-size: 1rem;
  }
  .tiny{
    font-size:.9rem;
    @media screen and(max-width: $headerMax){
      display: none;
    }
  }
}

.fa{
  font-size: 25px;
  margin: 5px;
  line-height: 0;
  @media screen and (max-width: $smlWidth){
    font-size: 16px;
  }
}
.menu{
  @media screen and(min-width: $medWidth){
    width: 3*$medBox;
  }
  @media screen and(min-width: $lrgWidth){
    width: 3*$lrgBox;
  }

}
section{
  text-align: center;
  margin: 100px auto;
  width: 100%;
  ul{
    padding: 0;
    margin: 0;
  }
  li{
    padding: 0;
    list-style-type: none;
    display: inline-block;
    img{
      width: 100%;
      height:100%;
      overflow: hidden;
    }
    background-color:gray;
    outline: 1px dashed white;
    outline-offset: -10px;
    vertical-align: top;
    @media screen and(min-width: $medWidth){
      width: $medBox;
      height: $medBox;
    }
    @media screen and(min-width: $lrgWidth){
      width: $lrgBox;
      height: $lrgBox;
    }
    width: 100%;
  }
  a{
    text-decoration: none;
    font-size: 2em;
    font-weight: 100;
    color: white;
    line-height: 100px;
    @media screen and(min-width: $medWidth){
      line-height: $medBox;
    }
    @media screen and(min-width: $lrgWidth){
      line-height: $lrgBox;
    }

  }
}

.smlWidth{
  @media screen and(min-width: $headerMax){
    display: none;
  }
}
.lrgWidth{
  @media screen and(max-width: $headerMax){
    display:none;
  }
}

.accent{
  background-color: $darkgray;
  @media screen and(max-width: $medWidth){
    display: none;
   }
}
.container{
  z-index:1;
}
.content{
  overflow: hidden;
  width: 60%;
  margin: 5% 20%;
}

.contact{
  margin-top:100px;
  margin-bottom: 20px;
  margin-left:25%;
  @media screen and(max-width: $headerMax){
    margin-left: 5px;
  }
  a{
    text-decoration: none;
    color:$darkgray;
    font-size: 1.5em;
    display: block;
    &:hover{
      text-decoration: underline;
    }
    margin: 20px;
    @media screen and(max-width: $headerMax){
      display:inline;
      text-align: center;
      margin:5%;
    }
  }
}

.anchor{
  display: block;
  position: relative;
  visibility: hidden;
  top:-125px;
}

.subsection{
  &:hover{
    background-color: $lightBlue;
  }
  outline: 2px dashed $darkgray;
  outline-offset: -15px;
  background-color: lightgray;
  padding:20px 100px;
  @media screen and(min-width: $medWidth){
    min-height: 2.7*$medBox;
    padding:20px 40px;
  }
  @media screen and(min-width: $lrgWidth){
    min-height: 2.7*$lrgBox;
    padding:20px 40px;
    width: 80%;
  }
  @media screen and(max-width: $medWidth){
    width: 90%;
    padding: 20px 20px;
  }
  width: 65%;
  margin:40px auto;
  font-weight: 300;
  h1{
    margin:50px;
    font-size: 2.5rem;
  }
  p{
    font-size: 1.25rem;
    text-align: left;
    width:50%;
    @media (max-width: $medWidth){
      width: 100%;
    }
  }
}


.projectItem{
  outline: 2px dashed $darkgray;
  outline-offset: -15px;
  background-color: lightgray;
  margin: 20px auto;
  padding: 30px;
  @media screen and(min-width: $medWidth){
    width: $medBox*3;
  }
  @media(min-width: $lrgWidth){
    width: $lrgBox*3;
  }
  .links{
    display: block;
    margin:10px;
    text-align: right;
    a{
      &:visited{
        color:$darkgray;
      }
    }
  }
  .description{
    display: inline-block;
    width:45%;
    // width: $medBox*.9;
    // @media(min-width: $medWidth){
    //   width: $medBox*2*.9;
    // }
    // @media(min-width: $lrgWidth){
    //   width: $lrgBox*2*.9;
    // }
    @media(max-width: $medWidth){
      p,.tech{
        display: none;
      }
    }
    p{
      width: 100%;
    }
  }
  .name{
    font-size:2em;
  }
  img{
    overflow:hidden;
    text-align: right;
    display: inline-block;
    width: 45%;
    outline: 4px solid $lightBlue;
    outline-offset: -2px;
    // @media(min-width: $medWidth){
    //   width: $medBox*2;
    //   margin: 10px;
    // }
    // @media(min-width: $lrgWidth){
    //   width: $lrgBox*2;
    //   margin:10px;
    // }
  }
}

.resume{
  li{
    font-size: 1.25em;
  }
  h2{
    font-size: 2em;
    width:100%;
    border-bottom: 2px dashed $darkgray;
    margin-left:-15px;
    @media screen and(max-width: $headerMax){
      margin-left:0;
    }
    margin-top:50px;
  }
  h3{
    display: inline-block;
  }
}
.navlink{
  &:hover{
    background-color: $lightBlue;
    color: $darkgray;
  }
}
.headshot{
  width:$lrgBox*1.5;
  height:$lrgBox*1.5;
  outline: 2px dashed white;
  outline-offset: -10px;
  float: right;
  @media (max-width: $medWidth){
    display: none;
  }
}

#resumeLink{
  text-decoration: underline;
  float:right;
  &:visited{
    color:$darkgray;
  }
  &:hover{
    font-weight: bold;
  }

}

.skillList{
  li{
    float:left;
    width:25%;
    line-height: 1.5em;
    @media screen and(max-width: $headerMax){
      width:50%;
    }
  }
  padding-bottom:50px;
}

.hidden{
  display:none;
}
