body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #363537; }

a {
  text-decoration: none; }

header {
  color: #363537;
  z-index: 100;
  font-size: 1rem;
  font-weight: 100;
  position: fixed;
  width: 100%;
  height: 75px;
  top: 0;
  background-color: white;
  padding: .5rem 0;
  border-bottom: 1px solid #363537; }
  header .container {
    width: 80%;
    margin: auto; }
  header ul {
    padding: 0; }
  header li {
    margin: 10px;
    list-style-type: none;
    display: inline-block; }
    header li a {
      color: #363537; }

.right {
  vertical-align: top;
  float: right; }

.left {
  font-size: 4rem;
  vertical-align: top;
  float: left; }
  .left a {
    color: #363537; }
  @media (max-width: 480px) {
    .left {
      font-size: 2rem;
      padding-top: 1rem; } }
  @media (max-width: 388px) {
    .left {
      font-size: 1rem; } }
  .left .tiny {
    font-size: .9rem; }
    @media (max-width: 900px) {
      .left .tiny {
        display: none; } }

.fa {
  font-size: 25px;
  margin: 5px;
  line-height: 0; }
  @media (max-width: 388px) {
    .fa {
      font-size: 16px; } }

section {
  text-align: center;
  margin: 100px auto;
  width: 100%; }
  @media (min-width: 480px) {
    section {
      width: 450px; } }
  @media (min-width: 825px) {
    section {
      width: 675px; } }
  section ul {
    padding: 0;
    margin: 0; }
  section li {
    padding: 0;
    list-style-type: none;
    display: inline-block; }
    section li img {
      width: 100%;
      height: 100%;
      overflow: hidden; }

@media (min-width: 900px) {
  .smlWidth {
    display: none; } }

@media (max-width: 900px) {
  .lrgWidth {
    display: none; } }

section li {
  background-color: gray;
  outline: 1px dashed white;
  outline-offset: -10px;
  vertical-align: top;
  width: 100%; }
  @media (min-width: 480px) {
    section li {
      width: 150px;
      height: 150px; } }
  @media (min-width: 825px) {
    section li {
      width: 225px;
      height: 225px; } }
  section li a {
    text-decoration: none;
    font-size: 2em;
    font-weight: 100;
    color: white;
    line-height: 100px; }
    @media (min-width: 480px) {
      section li a {
        line-height: 150px; } }
    @media (min-width: 825px) {
      section li a {
        line-height: 225px; } }

.accent {
  background-color: #363537; }
  @media (max-width: 480px) {
    .accent {
      display: none; } }

.container {
  z-index: 1; }

.content {
  overflow: hidden;
  width: 60%;
  margin: 5% 20%; }

.contact {
  margin-bottom: 20px;
  text-align: left; }
  .contact a {
    text-decoration: none;
    color: #363537;
    font-size: 1.5em;
    margin: 20px; }
    .contact a:hover {
      text-decoration: underline; }
  .contact .intro {
    margin: 50px auto;
    padding: 50px; }
  .contact h1 {
    font-size: 2em; }

.anchor {
  display: block;
  position: relative;
  visibility: hidden;
  top: -150px; }

.subsection {
  font-weight: 300; }
  .subsection h1 {
    margin: 50px;
    font-size: 2.5rem; }
  .subsection p {
    font-size: 1.25rem;
    text-align: left; }
