body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #363537; }

a {
  text-decoration: none; }

header {
  color: #363537;
  z-index: 100;
  font-size: 1rem;
  font-weight: 100;
  position: fixed;
  width: 100%;
  height: 75px;
  top: 0;
  background-color: white;
  padding: .5rem 0;
  border-bottom: 1px solid black; }
  header .container {
    width: 80%;
    margin: auto; }
  header ul {
    padding: 0; }
  header li {
    margin: 10px;
    list-style-type: none;
    display: inline-block; }
    header li a {
      color: #363537; }

.right {
  vertical-align: top;
  float: right; }

.left {
  font-size: 4rem;
  vertical-align: top;
  float: left; }
  .left a {
    color: black; }
  @media only screen and (max-width: 725px) {
    .left {
      font-size: 2rem;
      padding-top: 1rem; } }
  @media only screen and (max-width: 388px) {
    .left {
      font-size: 1rem; } }
  .left .tiny {
    font-size: .9rem; }
    @media only screen and (max-width: 900px) {
      .left .tiny {
        display: none; } }

.fa {
  font-size: 25px;
  margin: 5px;
  line-height: 0; }
  @media only screen and (max-width: 388px) {
    .fa {
      font-size: 16px; } }

@media only screen and (min-width: 725px) {
  .menu {
    width: 450px; } }
@media only screen and (min-width: 875px) {
  .menu {
    width: 675px; } }

section {
  text-align: center;
  margin: 100px auto;
  width: 100%; }
  section ul {
    padding: 0;
    margin: 0; }
  section li {
    padding: 0;
    list-style-type: none;
    display: inline-block;
    background-color: gray;
    outline: 1px dashed white;
    outline-offset: -10px;
    vertical-align: top;
    width: 100%; }
    section li img {
      width: 100%;
      height: 100%;
      overflow: hidden; }
    @media only screen and (min-width: 725px) {
      section li {
        width: 150px;
        height: 150px; } }
    @media only screen and (min-width: 875px) {
      section li {
        width: 225px;
        height: 225px; } }
  section a {
    text-decoration: none;
    font-size: 2em;
    font-weight: 100;
    color: white;
    line-height: 100px; }
    @media only screen and (min-width: 725px) {
      section a {
        line-height: 150px; } }
    @media only screen and (min-width: 875px) {
      section a {
        line-height: 225px; } }

@media only screen and (min-width: 900px) {
  .smlWidth {
    display: none; } }

@media only screen and (max-width: 900px) {
  .lrgWidth {
    display: none; } }

.accent {
  background-color: #363537; }
  @media only screen and (max-width: 725px) {
    .accent {
      display: none; } }

.container {
  z-index: 1; }

.content {
  overflow: hidden;
  width: 60%;
  margin: 5% 20%; }

.contact {
  margin-top: 100px;
  margin-bottom: 20px;
  margin-left: 25%; }
  @media only screen and (max-width: 900px) {
    .contact {
      margin-left: 5px; } }
  .contact a {
    text-decoration: none;
    color: #363537;
    font-size: 1.5em;
    display: block;
    margin: 20px; }
    .contact a:hover {
      text-decoration: underline; }
    @media only screen and (max-width: 900px) {
      .contact a {
        display: inline;
        text-align: center;
        margin: 5%; } }

.anchor {
  display: block;
  position: relative;
  visibility: hidden;
  top: -125px; }

.subsection {
  outline: 2px dashed #363537;
  outline-offset: -15px;
  background-color: lightgray;
  padding: 20px 100px;
  width: 65%;
  margin: 40px auto;
  font-weight: 300; }
  .subsection:hover {
    background-color: #96C4C5; }
  @media only screen and (min-width: 725px) {
    .subsection {
      min-height: 405px;
      padding: 20px 40px; } }
  @media only screen and (min-width: 875px) {
    .subsection {
      min-height: 607.5px;
      padding: 20px 40px;
      width: 80%; } }
  @media only screen and (max-width: 725px) {
    .subsection {
      width: 90%;
      padding: 20px 20px; } }
  .subsection h1 {
    margin: 50px;
    font-size: 2.5rem; }
  .subsection p {
    font-size: 1.25rem;
    text-align: left;
    width: 50%; }
    @media (max-width: 725px) {
      .subsection p {
        width: 100%; } }

.projectItem {
  outline: 2px dashed #363537;
  outline-offset: -15px;
  background-color: lightgray;
  margin: 20px auto;
  padding: 30px; }
  @media only screen and (min-width: 725px) {
    .projectItem {
      width: 450px; } }
  @media (min-width: 875px) {
    .projectItem {
      width: 675px; } }
  .projectItem .links {
    display: block;
    margin: 10px;
    text-align: right; }
    .projectItem .links a:visited {
      color: #363537; }
  .projectItem .description {
    display: inline-block;
    width: 45%; }
    @media (max-width: 725px) {
      .projectItem .description p, .projectItem .description .tech {
        display: none; } }
    .projectItem .description p {
      width: 100%; }
  .projectItem .name {
    font-size: 2em; }
  .projectItem img {
    overflow: hidden;
    text-align: right;
    display: inline-block;
    width: 45%;
    outline: 4px solid #96C4C5;
    outline-offset: -2px; }

.resume li {
  font-size: 1.25em; }
.resume h2 {
  font-size: 2em;
  width: 100%;
  border-bottom: 2px dashed #363537;
  margin-left: -15px;
  margin-top: 50px; }
  @media only screen and (max-width: 900px) {
    .resume h2 {
      margin-left: 0; } }
.resume h3 {
  display: inline-block; }

.navlink:hover {
  background-color: #96C4C5;
  color: #363537; }

.headshot {
  width: 337.5px;
  height: 337.5px;
  outline: 2px dashed white;
  outline-offset: -10px;
  float: right; }
  @media (max-width: 725px) {
    .headshot {
      display: none; } }

#resumeLink {
  text-decoration: underline;
  float: right; }
  #resumeLink:visited {
    color: #363537; }
  #resumeLink:hover {
    font-weight: bold; }

.skillList {
  padding-bottom: 50px; }
  .skillList li {
    float: left;
    width: 33%;
    line-height: 1.5em; }
    @media only screen and (max-width: 900px) {
      .skillList li {
        width: 50%; } }

.hidden {
  display: none; }

/*# sourceMappingURL=styles.css.map */
