
$darkestGray: #504746; //rgba(80, 71, 70, 100)
$hotPink: #d90368; //rgba(217, 3, 104, 100)
$almostWhite: #d8dbe2; //rgba(216, 219, 226, 100)
$mediumGray: #8b8982; //rgba(139, 137, 130, 100)
$paleGray: #c8c8c8; //rgba(200, 200, 200, 100)
$accent: #1E435E;

$medWidth: 480px;
$lrgWidth: 825px;
$headerMax: 750px;

$medBox: 150px;
$lrgBox: 225px;
